<div fxLayout="column">

<mat-toolbar fxLayout="row" fxFlex="10" >

  <mat-toolbar-row fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-form-field class="example-form-field">
      <input matInput type="text" [(ngModel)]="filterVal">
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-form-field>
      <mat-select [(ngModel)]="filterCol">
        <mat-option *ngFor="let dataColumn of dataColumns" [value]="dataColumn">{{ dataColumn }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row fxFlex="25" fxLayout="column" fxLayoutAlign="center start">
    <mat-checkbox [(ngModel)]="filterStrict">Strict search</mat-checkbox>
  </mat-toolbar-row>

  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button (click)="reset()">Reset</button>
    <button mat-raised-button fxFlexOffset="5" (click)="searchGames()">Find</button>
  </mat-toolbar-row>
</mat-toolbar>

<h3 fxFlex="80" *ngIf="!games.length">Nothing found</h3>
<mat-accordion fxFlex="80">
  <mat-expansion-panel
    *ngFor="let game of games"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{game.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="example-card">

      <mat-card-header>
        <div
          mat-card-avatar
          [ngStyle] = "{
            'style.background-image': game.icon_2,
            'style.background-size': 'cover'
          }"
        ></div>
        <!-- <mat-card-title>{{game.name}}</mat-card-title> -->
        <!-- <mat-card-subtitle>Id-Provider: ({{game.id}}-{{game.provider}})</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="{{game.icon_2}}" alt="Photo">
      <!--
        <mat-card-content>
          <p></p>
        </mat-card-content>
      -->
      <!--
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      -->
    </mat-card>

  </mat-expansion-panel>

</mat-accordion>

<mat-toolbar fxLayout="row" fxFill>

  <mat-toolbar-row fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch">
    Page {{pageNr}} of {{totalPages}}, {{totalFound}} games found
  </mat-toolbar-row>

  <mat-toolbar-row fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
    <div>
      Per page:
    </div>
    <mat-form-field fxFlexOffset="5">
      <mat-select [(ngModel)]="pageSize">
        <mat-option *ngFor="let ps of pageSizes" [value]="ps">{{ ps }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button (click)="prevPage()">Prev</button>
    <button mat-raised-button fxFlexOffset="5" (click)="nextPage()">Next</button>
  </mat-toolbar-row>
</mat-toolbar>

</div>
